*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    background: url(../images/cofee.jpg)center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.logo{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    padding: 15px;
}
.active{
    background-color: chartreuse;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.nav-link:hover{
    background-color: chocolate;
    transition: 1s;
    transition-delay: 1s;
    transition-duration: 1s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.btn{
    position: absolute;
    left: 43%;
    bottom: 46%;
}
.btn-a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 12px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn-a:hover{
    background-color: red;
    border-radius: 5px;
    transition: 1s;
    transition-duration: 1s;
    transition-delay: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.section-one{
    background: url(../images/cofee2.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: 10px;
    z-index: 0;
}

.sc-hd{
    z-index: 2;
}
.sc-one{
    position: absolute;
    color:chartreuse;
    top: 10%;
    left: 27%;
    font-size: 40px;
    text-align: center;
    
}
.sc-sec{
    position: absolute;
    top: 20%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.sc-btn{
    position: absolute;
    left: 40%;
    top: 48%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 60px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sc-btn:hover{
    background-color: chartreuse;
    transition: 1s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


.section-sec{
    background: url(../images/cofee3.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: 10px;
    z-index: 0;
}

.sc-sc-cn{
    z-index: 3;
    position: absolute;
    text-align: center;
}

.sc-sec-text{
    padding-top: 100px;
    color: black;
    font-size: 20px;
}

.sc-leg{
    padding-top: 20px;
    font-size: 30px;
    color: greenyellow;
}


.footer{
    background: url(../images/cofee5.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    margin-top: 10px;
    z-index: 0;
}

.ft-one{
    text-align: center;
    font-size: 30px;
    color: #fff;
}


.ft-btn{
    position: absolute;
    bottom: 20%;
    left: 43%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-transform: uppercase;
    color: grey;
}

.ft-btn:hover{
    background-color: chartreuse;
    transition: 1s;
    color: #fff;
    transition-duration: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}






